<div class="welcome-container">

  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Bem-vindo ao Sistema Ford</mat-card-title>
      <mat-card-subtitle>Sua plataforma de gerenciamento</mat-card-subtitle>
    </mat-card-header>
    
    <img mat-card-image src="/assets/img/ranger.png" alt="Ford Ranger" class="card-image">
    
    <mat-card-content>
      <p>
        Use o menu lateral para navegar pelas seções, como o Dashboard.
      </p>
    </mat-card-content>
    
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" routerLink="/home/dashboard">
        Ir para o Dashboard
      </button>
    </mat-card-actions>
  </mat-card>

</div>