
<mat-sidenav-container>
  <div>
    <img src="assets/img/ford.png" id="ford-logo-top">
  </div>
  <mat-sidenav #sidenav mode="push" [(opened)] ="opened"> <img src="assets/img/ford.png" id="ford-logo-top"></mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened">Toggle Opened</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>

  </mat-sidenav-content>
</mat-sidenav-container>



