

mat-sidenav-container {
  height: 100%;
}
mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav{
  background-color: white;
  width: 250px;

}

#ford-logo-top{
  width: 85px;

}

:host{
  display: block;
  height: 100vh;
}

:host ::ng-deep .mat-sidenav-container {
  background-color: transparent;
}

:host ::ng-deep .mat-sidenav-content {
  background-color: transparent;
}
