
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body {
  width: 50%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url('/assets/img/ranger.png') no-repeat center center fixed;
}
